<style> 
input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
</style>


<h1 align="center">Add a new quote!</h1>

<%= form_for(@quotes) do |form| %>
  <div class="field" align="center" >
    <%= form.label :quote %>
    <%= form.text_field :quote %>
  </div>

  <div class="actions" align="center">
    <%= form.submit %>
  </div>
<% end %>